.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.App > textarea {
    width: 50%;
    margin-top: 50px;
    min-height: 100px;
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.warning {
  color: red;
}